:root {
    --dark-color: #3074f0;
    --primary-color: #f7c9d2;
    --light-color: #f5f5f5;
    --success-color: #8f9295;
  }
  
  .single_Product1 {
    background: #e3e3e3ce;
    text-align: center;
    padding: 3.5rem 2rem;
    margin: 0.5rem 1rem;
  }
  .single_Product1 img:hover {
    transform: scale(1.1);
    transition: 0.3s linear;
    cursor: pointer;
  }
  .single_Product2 {
    padding: 0.5rem 2rem;
  }
  .single_Product-title {
    font-weight: 700;
    font-size: 1.55rem;
    text-transform: capitalize;
    padding: 0.4rem 0;
  }
  .single_Product-detail {
      font-weight: 600;
      font-size: 1.25rem;
      text-transform: capitalize;
      padding-top: 1rem;
    } 
  .single_Product-price {
    font-weight: 700;
    font-size: 1.45rem;
    padding: 0.4rem 0;
    color: var(--dark-color);
  }
  .single_Product-description {
    color: #4c4c4cc8;
    padding: 0.5rem 0; 
    font-size: 1rem;
  }
  .quality-buttons span {
    padding: 0.4rem 1rem;
    font-size: 1rem;
  }
  .single-span {
    border: 2px solid #b5b5b5;
    cursor: pointer;
    user-select: none;
  }
  .single-span:hover {
    border: 2px solid #252525;
  }
  
  .single_Product2 button {
    padding: 0.7rem 1.4rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    background: var(--dark-color);
    color: #fff;
    width: 100%;
  }
  .single_Product2 button:hover {
    transform: scale(1.02);
    transition: 0.2s linear;
  }
  .single_Product2 button i {
    color: #fff;
  }
  .single-social i {
    padding: 0.45rem;
    font-size: 1.3rem;
    color: var(--success-color);
    cursor: pointer;
  }
  .single-social i:hover {
    transform: scale(1.2);

    color: var(--dark-color);
  }